<div class="container">
    
    <div class="card">
        <img src="" alt="">
        <h2>Black Widow</h2>
        <p>Descripción</p>
    </div>

    <div class="card">
        <img src="" alt="">
        <h2>Godzilla</h2>
        <p>Descripción</p>
    </div>

    <div class="card">
        <img src="" alt="">
        <h2>Resident Evil</h2>
        <p>Descripción</p>
    </div>

    <div class="card">
        <img src="" alt="">
        <h2>Superman</h2>
        <p>Descripción</p>
    </div>

    <div class="card">
        <img src="" alt="">
        <h2>Spiderman</h2>
        <p>Descripción</p>
    </div>

    <div class="card">
        <img src="" alt="">
        <h2>Slenderman</h2>
        <p>Descripción</p>
    </div>

    <div class="card">
        <img src="" alt="">
        <h2>Angry Birds</h2>
        <p>Descripción</p>
    </div>

    <div class="card">
        <img src="" alt="">
        <h2>Ironman</h2>
        <p>Descripción</p>
    </div>
    
</div>